@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

body {
  font-family: 'Indie Flower', cursive;
}

h1 {
  margin-bottom: 30px;
}

.emptyMessage {
  font-weight: bold;
  color: red;
  font-size: 1.2em;
}

li {
  margin-bottom: 7px;
  font-size: 1.3em;
}

@media (min-width: 700px) {
    .pull-right-md {
        float: right;
    }
}
